{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:promise/recommended",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": { "sourceType": "module" },
  "plugins": [ "react", "promise", "flowtype", "prettier" ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": false,
    "fetch": false,
    "R": false,
    "toText": false,
    "renderJSON": false,
    "renderText": false,
    "expectPromiseToFail": false,
    "asyncTest": false,
    "setFetchToReturn": false
  },
  "rules": {
    "prettier/prettier": ["error", {
        useTabs: false,
        printWidth: 80,
        tabWidth: 2,
        singleQuote: true,
        trailingComma: "none",
        bracketSpacing: true,
        jsxBracketSameLine: true,
        parser: "flow",
        semi: false
    }],
    "space-before-function-paren": "off",
    "no-spaced-func": "off",
    "operator-linebreak": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "react/display-name": "off"
  }
}
